body{
    background-color: white;
    margin: 0;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(rgb(177, 174, 174), rgb(114, 113, 113), rgb(51, 51, 51));
    text-align: center;
    height: 35vh;
}


.section1 > h1{
    margin-bottom: 0px;
    
}

.section1 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.section2{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.section2Contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropbtn:hover{
    cursor: pointer;
}

.dropdown-content{
    padding: 25px;
    display: none;
    background: linear-gradient(rgb(190, 190, 190), rgb(245, 245, 245), rgb(255, 255, 255));
}

.dropdown-content li:hover {
    background-color: whitesmoke;
}


.section2Contents .iconBackground{
    height: 105px;
    width: 105px;
}

.section2Contents img{
    height: 100px;
    width: 100px;
}

.section2a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    
}

.section2a img{
    height: 400px;
    width: 400px;
    border-color: rgb(241, 238, 238);
    border-radius: 5px;
    border-style: solid;
}

.section3{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 50px;
    margin-right: 50px;
}

.section3 > p{
    color: rgb(114, 113, 113);
}

.section4{
    text-align: center;
    margin-top: 40px;
}

.section4 > a{
    text-decoration-line: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(114, 113, 113);
    font-size: 20px;
}

h1{
    color: rgb(231, 231, 231);
    font-family: Cambria, Cochin, Georgia, serif;
    font-size: 50px;
}

h2{
    font-family: Cambria, Cochin, Georgia, serif;
    font-size: 40px;
}

h3{
    font-family: Cambria, Cochin, Georgia, serif;
    font-size: 30px;
}

p{
    color: rgb(177, 176, 176);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

li{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(114, 113, 113);
    font-size: 20px;
}

.icons{
    color: white;
}


input{
    margin-top: 30px;
    background: linear-gradient(rgb(177, 176, 176), rgb(124, 124, 124), rgb(51, 51, 51));
    border-radius: 5px;
    border: 0;
    height: 40px;
    width: 200px;
    font-size: 20px;
    color: white;
}

input:hover{
    cursor: pointer;
}

hr{
    width: 80%;
}

footer p{
    color: rgb(114, 113, 113);
}




@media (min-width: 480px) and (max-width: 992px) {
    .section1 img{
        height: 150px;
        width: 150px;
    }


    .section2{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 10%;
        padding-right: 10%;
    }

    .section2Contents .iconBackground{
        height: 85px;
        width: 85px;
    }
    
    .section2Contents img{
        height: 80px;
        width: 80px;
    }

    .section2a{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .section2a img{
        height: 300px;
        width: 300px;
        border-color: rgb(241, 238, 238);
        border-radius: 5px;
        border-style: solid;
    }

    .section3{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 50px;
    margin-right: 50px;
    }


    .section4{
        text-align: center;
        margin-top: 40px;
    }
    hr{
        width: 60%;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 17px;
    }

    li{
        font-size: 17px;
    }

  }


  @media (max-width: 479px) {

    .section1{
        height: 200px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .section1 img{
        height: 100px;
        width: 100px;
    }

    .section2{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .section2Contents .iconBackground{
        height: 65px;
        width: 65px;
    }

    .section2Contents img{
        height: 60px;
        width: 60px;
    }

    .section2a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section2a img{
        height: 200px;
        width: 200px;
        border-color: rgb(241, 238, 238);
        border-radius: 5px;
        border-style: solid;
    }



.section3{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

    .section4 > a{
      text-decoration-line: none;
      font-family: 'Courier New', Courier, monospace;
      color: rgb(114, 113, 113);
      font-size: 15px;
}

input{
    height: 30px;
    width: 200px;
    font-size: 16px;
}

    h1{
        font-size: 35px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 26px;
    }

    p{
        font-size: 16px;
    }

    li{
        font-size: 16px;
    }
  }
